/*
 * Empty Stylesheet file.
 */

.mainFxmlClass {

}

.button{
    -fx-background-color:transparent;
    -fx-border-color:#000000;
    -fx-text-fill:#000000;
    -fx-border-radius:10px;
    -fx-border-width:3px;
    -fx-padding: 10,10,10,10;
}
